body{
  margin:0;
  font-family:sans-serif;
  background:#0f1220;
  color:white;
}

.screen{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:10px;
}

.hidden{display:none}

input{
  padding:10px;
  border:none;
  border-radius:8px;
  width:220px;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:8px;
  background:#7b2ff7;
  color:white;
  cursor:pointer;
}

.topbar{
  position:absolute;
  top:0;
  left:0;
  right:0;
  background:#111;
  padding:10px;
  display:flex;
  justify-content:space-between;
}

.modal{
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:#0008;
  display:flex;
  justify-content:center;
  align-items:center;
}

.box{
  background:#222;
  padding:20px;
  border-radius:10px;
}
