body{
  margin:0;
  font-family:Arial;
  background:#0f1220;
  color:white;
}

.center{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:10px;
}

.app{
  display:flex;
  height:100vh;
}

.hidden{display:none;}

.sidebar{
  width:260px;
  background:#111427;
  padding:10px;
}

.chat{
  flex:1;
  display:flex;
  flex-direction:column;
}

.topbar{
  padding:10px;
  background:#141735;
  display:flex;
  justify-content:space-between;
}

.messages{
  flex:1;
  overflow:auto;
  padding:10px;
}

.msg{margin:5px 0;}
.me{text-align:right;}

.bubble{
  display:inline-block;
  padding:10px;
  border-radius:10px;
}

.me .bubble{background:#a100ff;}
.other .bubble{background:#333;}

.inputBar{
  display:flex;
  padding:10px;
}
input{
  flex:1;
  padding:10px;
}
